


html{
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
  }

body{
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
    background: blue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 1fr 15%;
}

.header{
    grid-column: auto;
    grid-row: 1 / 2;
    background: purple;
    text-align: center;
}

.body{
    grid-column: auto;
    grid-row: 2 / 3;
    background: green;
}

.footer{
    grid-column: auto;
    grid-row: 3 / 4;
    background: brown;
}